<div class="row">
  <div class="hero-banner">
    <div class="text-center bottom-middle">
        <button (click)="goToSteps()"><i class="fa fa-angle-down fa-5x" aria-hidden="true"></i></button>
    </div>      
  </div>
</div>

<div class="container">
  <div class="row" id="step-1">
    <div class="col-3">
      <img src="/assets/images/step-1.png" alt="">
    </div>
    <div class="col-9">
      <h4>Create Recipe</h4>
      <p>picy jalapeno bacon ipsum dolor amet jowl venison ball tip fatback. 
        Pig swine tri-tip short loin hamburger meatloaf pork chop pancetta. 
        Ball tip short loin venison, leberkas tongue strip steak picanha porchetta landjaeger ham hock biltong ham shoulder.</p>
    </div>
  </div>
  
  <div class="row" id="step-2">
    <div class="col-9">
        <h4>Create Shopping List</h4>
        <p>picy jalapeno bacon ipsum dolor amet jowl venison ball tip fatback. 
          Pig swine tri-tip short loin hamburger meatloaf pork chop pancetta. 
          Ball tip short loin venison, leberkas tongue strip steak picanha porchetta landjaeger ham hock biltong ham shoulder.</p>
    </div>
    <div class="col-3">
      <img src="/assets/images/step-2.png" alt="">
    </div>
  </div>
  
  <div class="row" id="step-3">
    <div class="col-3">
      <img src="/assets/images/step-3.png" alt="">
    </div>
    <div class="col-9">
      <h4>Buy only what you need</h4>
      <p>picy jalapeno bacon ipsum dolor amet jowl venison ball tip fatback. 
        Pig swine tri-tip short loin hamburger meatloaf pork chop pancetta. 
        Ball tip short loin venison, leberkas tongue strip steak picanha porchetta landjaeger ham hock biltong ham shoulder.</p>
    </div>
  </div>
</div>

