<div class="container">
    <div *ngIf="recipe">
      <h4>{{recipe.recipeName}}</h4>
      <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>

      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="row">
          <div class="col-md-6">
            <!-- Recipe Detail Controls -->
            <div class="form-group row">
              <label class="col-3 col-form-label">Recipe Name:</label>
              <div class="col-9">
                <input class="form-control form-control-sm" formControlName="recipeName" required maxlength="60" minlength="1">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Category:</label>
              <div class="col-9">
                <select class="form-control form-control-sm" formControlName="category" required>
                  <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Cuisine:</label>
              <div class="col-9">
                <select class="form-control form-control-sm" formControlName="cuisine" required>
                  <option *ngFor="let cuisine of cuisines" [value]="cuisine">{{cuisine}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Servings:</label>
              <div class="col-9">
                <select class="form-control form-control-sm" formControlName="servings" required>
                  <option *ngFor="let serving of servings" [value]="serving">{{serving}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Prep Time (mins):</label>
              <div class="col-8">
                <input type="number" min="0" class="form-control form-control-sm" formControlName="prepTime">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Cooking Time (mins):</label>
              <div class="col-8">
                <input type="number" min="0" class="form-control form-control-sm" formControlName="cookingTime">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Instructions:</label>
              <div class="col-9">
                <textarea class="form-control form-control-sm"
                          formControlName="instructions"
                          placeholder="Enter instructions here..."
                          rows="14"></textarea>
              </div>
            </div>
          </div>
          <br />

          <!-- Ingredients -->
          <div class="col-md-6">
            <div formArrayName="ingredients" class="well well-sm">
              <table class="table table-sm">
                <thead class="thead-default">
                  <tr>
                    <th>#</th>
                    <th>Ingredient Name</th>
                    <th>Measurement</th>
                    <th>Quantity</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i">
                    <th scope="row">{{i+1}}</th>
                    <td>
                      <input class="form-control form-control-sm" formControlName="ingredientName">
                    </td>
                    <td>
                      <select class="form-control form-control-sm" formControlName="measurement">
                        <option *ngFor="let measurement of measurements" [value]="measurement">{{measurement}}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" size="3" min="0" class="form-control form-control-sm" formControlName="quantity">
                    </td>
                    <td>
                      <button (click)="deleteIngredient(i)" type="button" class="btn btn-sm delete-btn" aria-label="Left Align" [disabled]="ingredients.length <= 1">
                        <i class="fas fa-times" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button (click)="addIngredient()" type="button" class="btn btn-success btn-sm">Add Ingredient</button>
              <button (click)="resetIngredients()" [disabled]="ingredients.length <= 1" type="button" class="btn delete-btn btn-sm">Reset Ingredients</button>
            </div>
            <div>
              <br>
              <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success btn-sm">Update Recipe</button> &nbsp;
            </div>
          </div>
        </div>
      </form>

      <!-- confirmDeleteModal -->
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModal">Delete Recipe</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the recipe: <b>{{recipe.recipeName}}</b>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger" (click)="onDeleteConfirm()" data-dismiss="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
