<br />
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/shopping-lists/create']" [routerLinkActive]="['active']">Create Shopping List &nbsp;<i class="fas fa-list" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/shopping-lists/my-shopping-lists']" [routerLinkActive]="['active']">My Shopping Lists &nbsp;<i class="fas fa-th" aria-hidden="true"></i></a>
      </li>
    </ul>    
  </div>  
</div>
<br />
<router-outlet></router-outlet>